@page "/addArticle"

@using OrderHandler.DomainCommons.DataTransferObjects
@using OrderHandler.DomainCommons.Services
@using OrderHandler.Client.HttpClient
@inject PublicClient _client;

<PageTitle>CGI Order Handler</PageTitle>

<h1>Add & Edit Article</h1>

<div class="container-fluid">
    <div class="row">
        <div style="width: 20vw">
            <EditForm Model="Article" OnValidSubmit="AddArticleToDbAsync">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <p>
                    <label class="form-label">Name</label>
                    <InputText class="form-control" @bind-Value="Article.ArticleName"></InputText>
                </p>
                <p>
                    <label class="form-label">Unit price</label>
                    <InputNumber TValue="decimal" class="form-control" @bind-Value="Article.UnitPrice"></InputNumber>
                </p>
                <p>
                    <label class="form-label">Color</label>
                    <InputText class="form-control" @bind-Value="Article.Color!.Color" placeholder="blue"></InputText>
                </p>
                @if (PostNewArticle)
                {
                    <button class="mt-3 btn btn-lg btn-outline-primary">Add New Article</button>
                }
                else
                {
                    <button class="mt-3 btn btn-lg btn-outline-success">Update Selected Article</button>
                }
                <ValidationSummary></ValidationSummary>
            </EditForm>

            <button class="btn btn-sm btn-outline-primary mt-4" @onclick="() => ResetChosenArticle()">Reset to add new</button>
        </div>

        <div style="width: 5vw"></div>

        <div class="col-8">
            <h3 class="h3">Articles</h3>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Article number</th>
                        <th>Unit price SEK</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="AllArticles" Context="article" SpacerElement="tr">
                        <tr @onclick="() => SetChosenArticle(article)">
                            <td>@article.ArticleName</td>
                            <td>@article.ArticleNumber</td>
                            <td>@article.UnitPrice</td>
                            <td>@article.CreatedAt.ToString("yyyy/MM/dd HH:mm")</td>
                            <td>@article.LastUpdatedAt.ToString("yyyy/MM/dd HH:mm")</td>
                            @if (article.Color is not null)
                            {
                                @if (article.Color.Color.ToLower().Contains("red"))
                                {
                                    <td class="table-danger">@article.Color.Color</td>
                                }
                                else if (article.Color.Color.ToLower().Contains("blue"))
                                {
                                    <td class="table-primary">@article.Color.Color</td>
                                }
                                else if (article.Color.Color.ToLower().Contains("yellow"))
                                {
                                    <td class="table-warning">@article.Color.Color</td>
                                }
                                else if (article.Color.Color.ToLower().Contains("green"))
                                {
                                    <td class="table-success">@article.Color.Color</td>
                                }
                                else
                                {
                                    <td>@article.Color.Color</td>
                                }
                            }
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>

    </div>
</div>



@code {
    private ArticleDto Article { get; set; } = new();
    private List<ArticleDto> AllArticles { get; set; } = new();
    private bool PostNewArticle { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        Article.Color = new ColorDto();
        await SetAllArticlesAsync();
    }

    private async Task SetAllArticlesAsync()
    {
        var response = await _client.Client.GetFromJsonAsync<ServiceResponse<IReadOnlyCollection<ArticleDto>>>("/article/");
        if (response?.Data is null || !response.Data.Any())
        {
            Console.WriteLine("No articles found.");
            return;
        }
        AllArticles = response.Data.OrderBy(x => x.ArticleName).ToList();
    }

    private async Task AddArticleToDbAsync()
    {
        if (PostNewArticle)
        {
            var response = await _client.Client.PostAsJsonAsync("/article/", Article);
            var results = await response.Content.ReadFromJsonAsync<ServiceResponse<ArticleDto>>();
        }
        else
        {
            var response = await _client.Client.PutAsJsonAsync("/article/", Article);
            var results = await response.Content.ReadFromJsonAsync<ServiceResponse<ArticleDto>>();
        }

        ResetChosenArticle();
        await SetAllArticlesAsync();
    }

    private void SetChosenArticle(ArticleDto article)
    {
        PostNewArticle = false;
        article.Color ??= new ColorDto();

        Article = article;
    }

    private void ResetChosenArticle()
    {
        Article = new ArticleDto
            {
                Color = new ColorDto()
            };
        PostNewArticle = true;
    }
}
